Source: com.github.cryptowyrm.copypastegrab
Section: x11
Priority: extra
Maintainer: CryptoWyrm <cryptowyrm@protonmail.ch>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev,
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.cryptowyrm.copypastegrab
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, youtube-dl
Description: Copy Paste Grab
 Download videos from hundreds of websites.
